#mushroom {
  width: 50px;
  height: 50px
}
#Olive {
  width: 100px;
  height: 100px
}
#pepperoni {
  width: 100px;
  height: 100px
}
.title {
  font-size: 75px;
  text-align: center;
  color: red;
  border-style: dotted;
}

.test4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.words {font-size:20px;
    font-style: italic;
    font-weight: bold;
    text-align: center}
body {
    background-color: lightblue;
}
h2 {text-align: center;
font-style: italic}
h3 {text-align: right}
